<head>
    <meta charset="UTF-8">
    <title>LG Partner</title>
    <link rel="stylesheet" href="{{assets}}/css/app.css">
    <link rel="stylesheet" href="{{assets}}/css/jquery.ui.all.css">
    
    <script type ="text/javascript" src="{{assets}}/libs/js/jquery.js"></script>
    <script type ="text/javascript" src="{{assets}}/libs/js/bootstrap.js"></script>
    <script src="{{assets}}/libs/js/jquery.ui.widget.js"></script>
    <script src="{{assets}}/libs/js/jquery.iframe-transport.js"></script>
    <script src="{{assets}}/libs/js/jquery.fileupload.js"></script>
    <script src="{{assets}}/libs/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="{{assets}}/libs/js/jquery-ui-1.10.4.custom.min.js"></script>
</head>