<div class="info">
    <div class="container">
        <div class="sections-info-user row">
            <div class="col-xs-5">Olá Simei Doblinski, bem vindo ao LG Partners!</div>
            <div class="col-xs-3">
            	<span class="ultimo-acesso">Último acesso</span>
            	<p>01/04/14 as 11:22</p>
            </div>
            <div class="col-xs-3"><p class="uploads-efetuados">Uploads efetuados <span>178</span></p></div>
            <div class="col-xs-1"><button type="button" class="btn btn-default btn-sm">Sair</button></div>
        </div>
    </div>
</div>